
<footer class="card-footer">
  <div class="level-left">
    <div class="icon-margins">
      <%= link_to recipes_path do %>
      <i class="fas fa-arrow-left" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</footer>

